# S3 / Floci Configuration
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
S3_ENDPOINT_URL=http://floci:4566

# DuckDB / dbt Configuration
DBT_PROJECT_DIR=/opt/airflow/dbt_project
DUCKDB_PATH=/opt/airflow/data/logistics.duckdb

# Airflow Configuration
AIRFLOW_USER=admin
AIRFLOW_PASSWORD=admin
